body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    padding: 20px;
}

.menu {
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    padding: 20px;
    text-align: center;
    width: 80%;
}

h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

h1, h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.established {
    font-style: italic;
}

img {
    display: block;
    margin: 0 auto;
}

h2 {
    font-size: 30px;
}

hr {
    background-color: brown;
    border: 1px solid brown;
    height: 2px;
    max-width: 80%;
}

.item p {
    display: inline-block;
    margin: 5px auto;
    font-size: 18px;
}

.flavor, .dessert {
    text-align: left;
    width: 75%;
}

.price {
    text-align: right;
    width: 25%;
}

.bottomLine {
    margin-top: 25px;
}

/* FOOTER */

footer {
    font-size: 14px;
}

a {
    color: black;
}

a:active {
    color: brown;
}

a:hover {
    color: brown;
}

a:visited {
    color: black;
}

.address {
    margin-bottom: 5px;
}